.head{
    background-color:chartreuse;
    height: 300px;
    width:300px;
    
   
    
    
}
button{
    background-color:aqua;
}
body{
    background-image: url(https://image.freepik.com/free-photo/top-view-calculator-pink-background_23-2148565047.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}